@font-face {
  font-family: "iconfont"; /* Project id 4783551 */
  src: url('../fonts/iconfont.woff2?t=1734337717939') format('woff2'),
       url('../fonts/iconfont.woff?t=1734337717939') format('woff'),
       url('../fonts/iconfont.ttf?t=1734337717939') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liaotian:before {
  content: "\e637";
}

.icon-fangdajing:before {
  content: "\e848";
}

